@model Core.ViewModels.AdminDashBoardViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Welcome <span> Admin</span></h1>
<div class="row">
	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
		<div class="card dash-widget">
			<div class="card-body">
				<span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
				<div class="dash-widget-info">
					<h3>10</h3>
					<span>Active Student</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
		<div class="card dash-widget">
			<div class="card-body">
				<span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
				<div class="dash-widget-info">
					<h3>20</h3>
					<span>Student Projects</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-sm-6 col-lg-6 col-xl-4">
		<div class="card dash-widget">
			<div class="card-body">
				<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
				<div class="dash-widget-info">
					<h3>19</h3>
					<span>Active Jobs Applications</span>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-12 d-flex">
		<div class="card card-table flex-fill">
			<div class="card-header">
				<h3 class="card-title mb-0">Onboard Student Registrations</h3>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table custom-table mb-0">
						<thead>
							<tr>
								<th>Name</th>
								<th>Email</th>
								<th>Phone Number</th>
								<th>Lives in Enugu</th>
								<th>Download CV</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							@*@if (Model.Students.Count() > 0 && Model.Students != null)
							{
								foreach (var student in Model.Students)
								{
									<tr>
										<td>
											<h2 class="table-avatar">
												<a href="" class="avatar"><img alt="" src="assets/img/profiles/avatar-19.jpg"></a>
												<a href="">@student.FirstName<span>@student.UserName</span></a>
											</h2>
										</td>
										<td>@student.Email</td>
										<td>@student.PhoneNumber</td>
										<td>@student.da</td>
										
									</tr>
								}
							}
							else
							{
								<div cclass="row p5 m-5">
									<div class="col-md-12 text-center p-5 m5">
										<h2>No Record Found</h2>
									</div>
								</div>
							}*@
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<a asp-action="OnboardingStudent" asp-controller="Admin">View all Onboard students</a>
			</div>
		</div>
	</div>
</div>